/*
 * Radley's Resume
 * Version 1.0.2
 * Licensed under GPLv3 (https://www.gnu.org/licenses/gpl-3.0.html)
 */

@import "inc/global.pcss";
@import "inc/fix.pcss";

/* Top-level styles */
html {
	min-height: 100%;
	margin: 0;
}

body {
	margin: 0;

	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #000;
}

a {
	color: #000;
	text-decoration: none;
}

h1 {
	font-size: 32px;
	line-height: 1.2;
}

h2 {
	font-size: 20px;
	line-height: 1.2;
}

h3, h4, h5, h6 {
	font-size: 16px;
	line-height: 1.2;
}

.site {
	max-width: 8.5in;
	margin: 0 auto;
}

.content {
	margin-bottom: 1em;
}

.primary {
	padding: 0.125in 0.25in;
}

.secondary {
	padding: 0.125in 0.25in;
}

.primary-section {
	margin-bottom: 3em;
}

.secondary-section {
	margin-bottom: 2em;
	page-break-inside: avoid;
}

.primary-section:last-child,
.secondary-section:last-child {
	margin-bottom: 0;
}

/** Primary column **/
.section-title {
	position: relative;
	display: inline-block;
	text-transform: uppercase;

	padding-bottom: 0.375em;
	margin-bottom: 1em;
}

.section-title:before,
.section-title:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 33%;
	height: 0.125em;
	background: #101010;
}

.section-title:before {
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0.375em;
	width: 0.125em;
	height: 0.125em;
	background: #ffffff;

	box-shadow:
		0.3125em 0 0 #fff,
		0.6250em 0 0 #fff;
}

h3.section-title {
	color: #101010;
}


/* Employment items */
.sq-list-item {
	margin: 0 0 2em;
	page-break-inside: avoid;
}

.sq-list-header {
	margin-bottom: 0.25em;
}

.sq-list-header .date {
	float: right;
	font-size: 14px;
	color: #a0a0a0;
}

.sq-list-header h4 {
	font-weight: 400;
	font-size: 14px;
	margin: 0.125em 0 0.75em;
}

.sq-list-content {
	font-size: 14px;
}


.sq-list-content ul {
	padding-left: 2em;
	list-style: disc;
}

.sq-list-content ul li {
	display: list-item;
	list-style: disc;
}

/* Employment list numbering */
.sq-list-item {
	padding-left: 50px;
	position: relative;
	counter-increment: sq;
}

.sq-list-item:before {
    content: counter(sq);
    position: absolute;
    top: 3px;
    left: 0;
    width: 30px;
	height: 100%;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    line-height: 27px;
    border-radius: 0 2px 2px 0;

	color: #444;
	border-right: 2px solid #444;
}

/* Testimonials */
.testimonial-item {
	margin-bottom: 2em;
	page-break-inside: avoid;
}

.testimonial-item:after {
	content: '';
	display: block;
	clear: both;
}

.testimonial-image {
	float: left;
	width: 125px;
	max-width: 25%;
	margin: 0 1em 0.5em 0;
	border-radius: 5px;
	overflow: hidden;
}

.testimonial-item:last-child,
.testimonial-item:last-child .testimonial-image {
	margin-bottom: 0;
}

.testimonial-content {
	font-size: 14px;
	margin-bottom: 0.75em;
	overflow: hidden;
}

.testimonial-item h3 {
	font-weight: 400;
	font-size: 14px;
	margin: 1em 0 0 2em;
}

/* Extended website list */
.ext-website-list {
	font-size: 14px;
}

.ext-website-list li {
	display: list-item;
	margin-left: 20px;
}

@media ( min-width: 640px ) {
	.ext-website-list:after {
		content: '';
		display: block;
		clear: both;
		height: 1px;
	}

	.ext-website-list li {
		width: 45%;
		width: calc(50% - 20px);
		float: left;
	}
}

@media ( min-width: 980px ) {
	.ext-website-list:after {
		content: '';
		display: block;
		clear: both;
		height: 1px;
	}

	.ext-website-list li {
		width: 28%;
		width: calc(33.33% - 20px);
		float: left;
	}
}

/* Sidebar */
.contact-methods .prefix {
	font-size: 12px;
	line-height: 1;
	text-transform: uppercase;
	display: block;
}

.contact-methods li {
	margin-bottom: 0.75em;
}

ul.skill-list li {
    overflow: hidden;
}

ul.skill-list .duration {
    display: inline-block;
    margin-left: 3px;
	float: right;
}

/* Star rating */
.stars {
	margin: 0.25em 0;
}

.sq-list-header h4 + .stars {
	margin-top: -0.125em;
}

.stars span {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+PHJlY3QgeD0iMCIgZmlsbD0ibm9uZSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIi8+PGc+PHBhdGggZmlsbD0iI2ZmNjYwMCIgZD0iTTEwIDFsMyA2IDYgLjc1LTQuMTIgNC42MkwxNiAxOWwtNi0zLTYgMyAxLjEzLTYuNjNMMSA3Ljc1IDcgN3oiLz48L2c+PC9zdmc+);
}

/* Footer */
.footer {
	font-size: 14px;
	text-align: center;
	padding: 0.125in;
}

/* Responsive Design */
@media print {
	/* print mode */
	.header {
		display: flex;
		flex-flow: row wrap;
	}

	.header .primary {
		float: none;
		width: auto;
		flex-basis: 68%;
	}

	.header .secondary {
		float: none;
		width: auto;
		flex-basis: 32%;
	}

	.body:after {
		content: '';
		display: block;
		clear: both;
	}

	.body .secondary {
		float: right;
		width: 32%;
		margin-left: 0.25in;
	}

	.secondary {
		padding: 0.125in;
	}

    /* testimonials for print */
	.testimonial-image {
		display: none;
	}

	.testimonial-item {
		position: relative;
	}

	.testimonial-item:last-child {
		margin-bottom: 0;
	}

	/* square list */
	.sq-list-item:before {
		border-right: none;
	}

	/* star rating */
	.stars {
		display: none;
	}
}

@media screen and ( min-width: 551px ) {
	/* Desktops */
	.header {
		display: flex;
		flex-flow: row wrap;
	}

	.header .primary {
		float: none;
		width: auto;
		flex-basis: 68%;
	}

	.header .secondary {
		float: none;
		width: auto;
		flex-basis: 32%;
	}

	.body:after {
		content: '';
		display: block;
		clear: both;
	}

	.body .secondary {
		float: right;
		width: 32%;
		margin-left: 0.25in;
	}

	.secondary {
		padding: 0.125in;
	}
}

@media screen and ( max-width: 550px ) {
	/* Mobile */
	.body {
		display: flex;
		flex-flow: column wrap;
	}

	.body .primary {
		order: 2;
	}

	.body .secondary {
		order: 1;
	}
}

/* A splash of color (Non-print) */
@media screen {
	body {
		background: #000;
	}

	a {
		color: #209fdb;
	}

	.primary {
		background: #fff;
	}

	.header .primary {
		background: #ff6600;
		color: #fff;
	}

	.header .secondary {
		background: #873b08;
	}

	.body .primary,
	.body .secondary {
		padding-top: 0.25in;
	}

	.secondary {
		background: #101010;
		color: #fafafa;
	}

    .secondary a {
	    color: #fafafa;
	    text-decoration: none;
    }

	h3.section-title {
		color: #ff6600;
	}

	.section-title:after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 33%;
		height: 0.125em;
	}

	h3.section-title:after {
		background: #ff6600;
	}

	h4.section-title:before {
		background: #101010;

		box-shadow:
			0.3125em 0 0 #101010,
			0.6250em 0 0 #101010;
	}

	h4.section-title:after {
		background: #ffffff;
	}

	.sq-list-header h3 {
		color: #444444;
	}

	.sq-list-header h4 {
		color: #444444;
	}

	.contact-methods .prefix,
	ul.skill-list .duration {
		color: #cccccc;
	}

	.footer {
		background: #101010;
		color: #fff;
	}
}

/* Colors only on desktop */
@media screen and ( min-width: 8.5in ) {
	.header .primary {
		padding: 0.375in 0 0.375in 0.25in;
	}
}